In [1]:
import pandas as pd 
import numpy as np
import datetime

#

In [124]:
xls = pd.ExcelFile('Downloads\PV installation data-2021.xlsx')
df1 = pd.read_excel(xls, 'January\'21',skiprows=2, usecols = [i for i in range(32)])
df1.drop(df1.tail(107).index,
        inplace = True)


t1=df1.sum()
t1=t1.reset_index()
new_header = t1.iloc[0] #grab the first row for the header
t1 = t1[1:] #take the data less the header row
new_header['index'] = 'Time'
new_header[0]='Energy'
t1.columns = new_header #set the header row as the df header
t1.set_index('Time',inplace=True)
t1

0               Energy
Time
2021-01-01   1857.6667
2021-01-02   2297.0001
2021-01-03   7480.0001
2021-01-04   3504.3333
2021-01-05   1808.3332
2021-01-06      8071.0
2021-01-07     3072.66
2021-01-08  14070.9934
2021-01-09   2158.3301
2021-01-10   4916.6635
2021-01-11  14469.3302
2021-01-12  19712.6666
2021-01-13      164.66
2021-01-14    178.6667
2021-01-15         0.0
2021-01-16         0.0
2021-01-17         0.0
2021-01-18         0.0
2021-01-19         0.0
2021-01-20    263.6667
2021-01-21  16013.6603
2021-01-22  23014.3332
2021-01-23   8479.6667
2021-01-24   2404.3232
2021-01-25         0.0
2021-01-26         0.0
2021-01-27         0.0
2021-01-28      1277.0
2021-01-29    526.3268
2021-01-30     16.3333
2021-01-31         0.0

In [3]:
df1

,time,2021-01-01 00:00:00,2021-01-02 00:00:00,2021-01-03 00:00:00,2021-01-04 00:00:00,2021-01-05 00:00:00,2021-01-06 00:00:00,2021-01-07 00:00:00,2021-01-08 00:00:00,2021-01-09 00:00:00,...,2021-01-22 00:00:00,2021-01-23 00:00:00,2021-01-24 00:00:00,2021-01-25 00:00:00,2021-01-26 00:00:00,2021-01-27 00:00:00,2021-01-28 00:00:00,2021-01-29 00:00:00,2021-01-30 00:00:00,2021-01-31 00:00:00
0,00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,22:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,23:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94,23:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95,23:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [125]:
df2 = pd.read_excel(xls, 'February\'21',usecols = [i for i in range(29)])
df2.drop(df2.tail(107).index,
        inplace = True)
t2=df2.sum()
t2=t2.reset_index()
new_header = t2.iloc[0] #grab the first row for the header
t2 = t2[1:] #take the data less the header row
new_header['index'] = 'Time'
new_header[0]='Energy'
t2.columns = new_header #set the header row as the df header
t2.set_index('Time',inplace=True)
t2

0               Energy
Time
2021-02-01           0
2021-02-02    119.6666
2021-02-03  11503.3333
2021-02-04   3263.3333
2021-02-05  43324.6666
2021-02-06  40363.0003
2021-02-07  12929.9999
2021-02-08   3229.9999
2021-02-09           0
2021-02-10           0
2021-02-11           0
2021-02-12    203.3333
2021-02-13       255.0
2021-02-14           0
2021-02-15           0
2021-02-16   1544.0002
2021-02-17    271.9999
2021-02-18   1876.6667
2021-02-19   3545.6667
2021-02-20  31667.3337
2021-02-21  57562.3334
2021-02-22  57850.5003
2021-02-23   50385.667
2021-02-24  53475.6665
2021-02-25  56906.9998
2021-02-26  46122.9999
2021-02-27  36048.3331
2021-02-28  20632.3335

In [123]:
df3 = pd.read_excel(xls, 'March\'21', usecols = [i for i in range(32)])
df3.drop(df3.tail(107).index,
        inplace = True)
t3=df3.sum()
t3=t3.reset_index()
new_header = t3.iloc[0] #grab the first row for the header
t3 = t3[1:] #take the data less the header row
new_header['index'] = 'Time'
new_header[0]='Energy'
t3.columns = new_header #set the header row as the df header
t3.set_index('Time',inplace=True)
t3

0               Energy
Time
2021-03-01   7416.6667
2021-03-02  53498.6667
2021-03-03  41174.9999
2021-03-04   26197.667
2021-03-05   31584.333
2021-03-06  70626.6664
2021-03-07   9924.0001
2021-03-08  56865.9999
2021-03-09  74022.3334
2021-03-10     64271.0
2021-03-11  50592.3331
2021-03-12  31941.0006
2021-03-13   53272.667
2021-03-14  61695.3332
2021-03-15  54223.0002
2021-03-16  67907.6667
2021-03-17  13102.9999
2021-03-18  35606.6664
2021-03-19  60342.6661
2021-03-20  30950.3329
2021-03-21  31228.6664
2021-03-22  52952.3332
2021-03-23  54655.6669
2021-03-24   19413.667
2021-03-25  42505.0002
2021-03-26     65505.0
2021-03-27  82191.6666
2021-03-28  69740.0003
2021-03-29  41021.6668
2021-03-30  32351.6665
2021-03-31  92441.9998

In [6]:
df3

,Time,2021-03-01 00:00:00,2021-03-02 00:00:00,2021-03-03 00:00:00,2021-03-04 00:00:00,2021-03-05 00:00:00,2021-03-06 00:00:00,2021-03-07 00:00:00,2021-03-08 00:00:00,2021-03-09 00:00:00,...,2021-03-22 00:00:00,2021-03-23 00:00:00,2021-03-24 00:00:00,2021-03-25 00:00:00,2021-03-26 00:00:00,2021-03-27 00:00:00,2021-03-28 00:00:00,2021-03-29 00:00:00,2021-03-30 00:00:00,2021-03-31 00:00:00
0,00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00:30:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,00:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,01:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,22:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,23:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,23:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,23:30:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,23:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [117]:
df4 = pd.read_excel(xls, 'April\'21', usecols = [i for i in range(31)])
df4.drop(df4.tail(106).index,
        inplace = True)
t4=df4.sum()
t4=t4.reset_index()
new_header = t4.iloc[0] #grab the first row for the header
t4 = t4[1:] #take the data less the header row
new_header['index'] = 'Time'
new_header[0]='Energy'
t4.columns = new_header #set the header row as the df header
t4.set_index('Time',inplace=True)
t4

0                Energy
Time
2021-04-01   89460.3332
2021-04-02  106369.3334
2021-04-03   46067.6665
2021-04-04   57655.0002
2021-04-05   85979.6635
2021-04-06   30922.6634
2021-04-07   72014.3331
2021-04-08   36098.3266
2021-04-09  110778.3331
2021-04-10  108671.3333
2021-04-11  109145.0002
2021-04-12   59524.3334
2021-04-13   26785.3333
2021-04-14   17583.6668
2021-04-15   21574.3335
2021-04-16   11464.6668
2021-04-17   21353.6665
2021-04-18   53126.3335
2021-04-19  113873.3338
2021-04-20   85047.9999
2021-04-21   82404.6667
2021-04-22   77028.6668
2021-04-23  107257.6667
2021-04-24   90509.0001
2021-04-25      69778.0
2021-04-26   91970.6663
2021-04-27  107821.6668
2021-04-28  134649.9995
2021-04-29   99812.6664
2021-04-30  112395.3338

In [8]:
df4

,time,2021-04-01 00:00:00,2021-04-02 00:00:00,2021-04-03 00:00:00,2021-04-04 00:00:00,2021-04-05 00:00:00,2021-04-06 00:00:00,2021-04-07 00:00:00,2021-04-08 00:00:00,2021-04-09 00:00:00,...,2021-04-21 00:00:00,2021-04-22 00:00:00,2021-04-23 00:00:00,2021-04-24 00:00:00,2021-04-25 00:00:00,2021-04-26 00:00:00,2021-04-27 00:00:00,2021-04-28 00:00:00,2021-04-29 00:00:00,2021-04-30 00:00:00
0,00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,22:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,23:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94,23:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95,23:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [102]:

df5 = pd.read_excel(xls, 'May\'21', usecols = [i for i in range(32)])
df5.drop(df5.tail(107).index,
        inplace = True)
t5=df5.sum()
t5=t5.reset_index()
#t5.index[17]=t5.index[16]+datetime.timedelta(days=1)
#t5.index[17]
t5.iloc[17,0]=t5.iloc[16,0]+datetime.timedelta(days=1)
t5.iloc[18,0]=t5.iloc[16,0]+datetime.timedelta(days=2)
t5.iloc[19,0]=t5.iloc[16,0]+datetime.timedelta(days=3)
new_header = t5.iloc[0] #grab the first row for the header
t5 = t5[1:] #take the data less the header row
new_header[1] = 'Energy'
t5.columns = new_header #set the header row as the df header
t5.set_index('Time',inplace=True)
t5

0                Energy
Time
2021-05-01   43827.0002
2021-05-02   25357.6668
2021-05-03   79698.9995
2021-05-04  112816.3332
2021-05-05   54523.3333
2021-05-06  121168.3333
2021-05-07   51989.6667
2021-05-08      92091.0
2021-05-09  138028.6669
2021-05-10  138020.3334
2021-05-11  134696.6668
2021-05-12  136793.0005
2021-05-13  132616.0004
2021-05-14   80645.9999
2021-05-15  120528.3337
2021-05-16   73166.9163
2021-05-17  112567.9996
2021-05-18   33320.6665
2021-05-19   66367.3334
2021-05-20  128143.9994
2021-05-21  124300.3332
2021-05-22   46977.6664
2021-05-23   107793.333
2021-05-24  122597.3332
2021-05-25   46757.6672
2021-05-26  124902.6666
2021-05-27  120627.3328
2021-05-28   119786.667
2021-05-29   84261.3339
2021-05-30   87603.3332
2021-05-31  131846.9999

In [122]:
t45=t4.append(t5)

0                Energy
Time
2021-04-01   89460.3332
2021-04-02  106369.3334
2021-04-03   46067.6665
2021-04-04   57655.0002
2021-04-05   85979.6635
...                 ...
2021-05-27  120627.3328
2021-05-28   119786.667
2021-05-29   84261.3339
2021-05-30   87603.3332
2021-05-31  131846.9999

[61 rows x 1 columns]

In [11]:
df5

,Time,2021-05-01 00:00:00,2021-05-02 00:00:00,2021-05-03 00:00:00,2021-05-04 00:00:00,2021-05-05 00:00:00,2021-05-06 00:00:00,2021-05-07 00:00:00,2021-05-08 00:00:00,2021-05-09 00:00:00,...,2021-05-22 00:00:00,2021-05-23 00:00:00,2021-05-24 00:00:00,2021-05-25 00:00:00,2021-05-26 00:00:00,2021-05-27 00:00:00,2021-05-28 00:00:00,2021-05-29 00:00:00,2021-05-30 00:00:00,2021-05-31 00:00:00
0,00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00:30:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,00:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,01:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,22:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,23:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,23:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,23:30:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,23:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [127]:
df6 = pd.read_excel(xls, 'June\'21',usecols = [i for i in range(31)])
df6.drop(df6.tail(106).index,
        inplace = True)
t6=df6.sum()
t6=t6.reset_index()
new_header = t6.iloc[0] #grab the first row for the header
t6 = t6[1:] #take the data less the header row
new_header['index'] = 'Time'
new_header[0]='Energy'
t6.columns = new_header #set the header row as the df header
t6.set_index('Time',inplace=True)
t6

0                Energy
Time
2021-06-01   86916.6665
2021-06-02   99950.0002
2021-06-03  124013.6663
2021-06-04  116006.9999
2021-06-05   72681.6667
2021-06-06  120239.3329
2021-06-07  138897.0006
2021-06-08     144236.0
2021-06-09  137347.6661
2021-06-10  138388.0007
2021-06-11   95191.0006
2021-06-12   92678.3334
2021-06-13   56685.6672
2021-06-14   152648.333
2021-06-15  131621.3333
2021-06-16  130043.3329
2021-06-17   140940.667
2021-06-18  140009.6672
2021-06-19  130485.6661
2021-06-20  131665.3334
2021-06-21  138105.9999
2021-06-22  112178.3334
2021-06-23  103663.3335
2021-06-24   96459.9997
2021-06-25   73981.9996
2021-06-26   63620.3333
2021-06-27  117528.0009
2021-06-28  121560.3333
2021-06-29  137242.0003
2021-06-30  113998.3334

In [13]:
df6

,Time,2021-06-01 00:00:00,2021-06-02 00:00:00,2021-06-03 00:00:00,2021-06-04 00:00:00,2021-06-05 00:00:00,2021-06-06 00:00:00,2021-06-07 00:00:00,2021-06-08 00:00:00,2021-06-09 00:00:00,...,2021-06-21 00:00:00,2021-06-22 00:00:00,2021-06-23 00:00:00,2021-06-24 00:00:00,2021-06-25 00:00:00,2021-06-26 00:00:00,2021-06-27 00:00:00,2021-06-28 00:00:00,2021-06-29 00:00:00,2021-06-30 00:00:00
0,00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00:30:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,00:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,01:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,22:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,23:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,23:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,23:30:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,23:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [134]:
df7 = pd.read_excel(xls, 'July\'21',usecols = [i for i in range(32)])
df7.drop(df7.tail(108).index,
        inplace = True)
t7=df7.sum()
t7=t7.reset_index()
new_header = t7.iloc[0] #grab the first row for the header
t7 = t7[1:] #take the data less the header row
new_header['index'] = 'Time'
new_header[0]='Energy'
t7.columns = new_header #set the header row as the df header
t7.set_index('Time',inplace=True)
t7

0                Energy
Time
2021-07-01   64403.3339
2021-07-02  116110.3334
2021-07-03   33134.0001
2021-07-04   39871.6669
2021-07-05  113340.3332
2021-07-06  131903.6672
2021-07-07  131830.6667
2021-07-08  128547.3335
2021-07-09  117846.3336
2021-07-10  100620.3269
2021-07-11  126388.6667
2021-07-12  126682.6669
2021-07-13  109740.6667
2021-07-14  116517.0001
2021-07-15   88330.3331
2021-07-16    93924.667
2021-07-17   81295.9998
2021-07-18   78290.9996
2021-07-19  121880.6668
2021-07-20   77918.0004
2021-07-21   108462.334
2021-07-22  100504.9996
2021-07-23   82440.9997
2021-07-24   99771.6668
2021-07-25  105811.3333
2021-07-26   79629.0002
2021-07-27   87501.9997
2021-07-28  117828.9995
2021-07-29  120916.6664
2021-07-30  128523.3333
2021-07-31   84695.0002

In [15]:
df7

,6kWp,2021-07-01 00:00:00,2021-07-02 00:00:00,2021-07-03 00:00:00,2021-07-04 00:00:00,2021-07-05 00:00:00,2021-07-06 00:00:00,2021-07-07 00:00:00,2021-07-08 00:00:00,2021-07-09 00:00:00,...,2021-07-22 00:00:00,2021-07-23 00:00:00,2021-07-24 00:00:00,2021-07-25 00:00:00,2021-07-26 00:00:00,2021-07-27 00:00:00,2021-07-28 00:00:00,2021-07-29 00:00:00,2021-07-30 00:00:00,2021-07-31 00:00:00
0,00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00:30:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,00:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,01:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,22:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,23:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,23:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,23:30:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,23:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [132]:
df8 = pd.read_excel(xls, 'August\'21',usecols = [i for i in range(32)])
df8.drop(df8.tail(106).index,
        inplace = True)
t8=df8.sum()
t8=t8.reset_index()
new_header = t8.iloc[0] #grab the first row for the header
t8 = t8[1:] #take the data less the header row
new_header['index'] = 'Time'
new_header[0]='Energy'
t8.columns = new_header #set the header row as the df header
t8.set_index('Time',inplace=True)
t8

0                Energy
Time
2021-08-01   58248.6671
2021-08-02   87058.6668
2021-08-03   90188.9995
2021-08-04   44545.3336
2021-08-05   19299.3332
2021-08-06   23374.0002
2021-08-07  118571.9998
2021-08-08   67739.6671
2021-08-09  110691.6667
2021-08-10  108294.6667
2021-08-11   102756.334
2021-08-12  113834.6671
2021-08-13  111638.3333
2021-08-14  108946.6666
2021-08-15  102227.9998
2021-08-16   84934.6668
2021-08-17   46172.3336
2021-08-18   69941.0003
2021-08-19   86111.6666
2021-08-20   80892.9996
2021-08-21   76882.3339
2021-08-22   82959.0002
2021-08-23   11261.3336
2021-08-24    7840.6668
2021-08-25   94236.3336
2021-08-26   26153.9999
2021-08-27   51849.6671
2021-08-28   63575.6665
2021-08-29   54715.3331
2021-08-30      12837.0
2021-08-31      34255.0

In [17]:
df8

,time,2021-08-01 00:00:00,2021-08-02 00:00:00,2021-08-03 00:00:00,2021-08-04 00:00:00,2021-08-05 00:00:00,2021-08-06 00:00:00,2021-08-07 00:00:00,2021-08-08 00:00:00,2021-08-09 00:00:00,...,2021-08-22 00:00:00,2021-08-23 00:00:00,2021-08-24 00:00:00,2021-08-25 00:00:00,2021-08-26 00:00:00,2021-08-27 00:00:00,2021-08-28 00:00:00,2021-08-29 00:00:00,2021-08-30 00:00:00,2021-08-31 00:00:00
0,00:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,00:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,00:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,00:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,01:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,22:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
92,23:00:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
93,23:15:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
94,23:30:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
95,23:45:00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [131]:
df9 = pd.read_excel(xls, 'September\'21',usecols = [i for i in range(31)])
df9.drop(df9.tail(106).index,
        inplace = True)
t9=df9.sum()
t9=t9.reset_index()
new_header = t9.iloc[0] #grab the first row for the header
t9 = t9[1:] #take the data less the header row
new_header['index'] = 'Time'
new_header[0]='Energy'
t9.columns = new_header #set the header row as the df header
t9.set_index('Time',inplace=True)
t9

0                Energy
Time
2021-09-01   62964.6672
2021-09-02  106960.6667
2021-09-03  106615.6671
2021-09-04   95767.9999
2021-09-05  104305.9998
2021-09-06   96780.9999
2021-09-07   94097.9999
2021-09-08   95673.3335
2021-09-09   96026.3338
2021-09-10   91116.6669
2021-09-11   83152.9998
2021-09-12   43590.6666
2021-09-13   68620.6664
2021-09-14   92078.6665
2021-09-15   36638.9995
2021-09-16   16417.6669
2021-09-17   13333.6665
2021-09-18   12079.9998
2021-09-19   20685.3331
2021-09-20   68657.3337
2021-09-21   62641.9998
2021-09-22   36773.4169
2021-09-23   51120.9999
2021-09-24   30088.3332
2021-09-25   38335.6666
2021-09-26   80562.0002
2021-09-27      84075.0
2021-09-28      63701.0
2021-09-29    8971.6666
2021-09-30   63668.6669

In [19]:
df9

,Time,2021-09-01 00:00:00,2021-09-02 00:00:00,2021-09-03 00:00:00,2021-09-04 00:00:00,2021-09-05 00:00:00,2021-09-06 00:00:00,2021-09-07 00:00:00,2021-09-08 00:00:00,2021-09-09 00:00:00,...,2021-09-21 00:00:00,2021-09-22 00:00:00,2021-09-23 00:00:00,2021-09-24 00:00:00,2021-09-25 00:00:00,2021-09-26 00:00:00,2021-09-27 00:00:00,2021-09-28 00:00:00,2021-09-29 00:00:00,2021-09-30 00:00:00
0,00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00:30:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,00:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,01:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,22:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,23:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,23:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,23:30:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,23:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [130]:
df10 = pd.read_excel(xls, 'October\'21',usecols = [i for i in range(32)])
df10.drop(df10.tail(106).index,
        inplace = True)
t10=df10.sum()
t10=t10.reset_index()
new_header = t10.iloc[0] #grab the first row for the header
t10 = t10[1:] #take the data less the header row
new_header['index'] = 'Time'
new_header[0]='Energy'
t10.columns = new_header #set the header row as the df header
t10.set_index('Time',inplace=True)
t10

0               Energy
Time
2021-10-01  49864.3333
2021-10-02  75996.6668
2021-10-03     72990.0
2021-10-04  70218.6667
2021-10-05  50581.3331
2021-10-06  69628.6669
2021-10-07  72594.6668
2021-10-08  72221.6663
2021-10-09  40247.6668
2021-10-10  60636.3336
2021-10-11  32889.3333
2021-10-12  28844.6666
2021-10-13  65838.9998
2021-10-14  41900.0004
2021-10-15  39204.6668
2021-10-16  14324.9999
2021-10-17  26834.6663
2021-10-18  38394.9999
2021-10-19  38819.6666
2021-10-20  20993.6666
2021-10-21  52333.6666
2021-10-22  17635.6668
2021-10-23  21738.3336
2021-10-24  54048.0002
2021-10-25  41971.6665
2021-10-26  50393.3334
2021-10-27  69522.3332
2021-10-28  47301.6668
2021-10-29  47616.0001
2021-10-30  46085.9998
2021-10-31  24513.9999

In [21]:
df10

,Time,2021-10-01 00:00:00,2021-10-02 00:00:00,2021-10-03 00:00:00,2021-10-04 00:00:00,2021-10-05 00:00:00,2021-10-06 00:00:00,2021-10-07 00:00:00,2021-10-08 00:00:00,2021-10-09 00:00:00,...,2021-10-22 00:00:00,2021-10-23 00:00:00,2021-10-24 00:00:00,2021-10-25 00:00:00,2021-10-26 00:00:00,2021-10-27 00:00:00,2021-10-28 00:00:00,2021-10-29 00:00:00,2021-10-30 00:00:00,2021-10-31 00:00:00
0,00:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,00:30:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,00:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,01:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,22:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
92,23:00:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,23:15:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
94,23:30:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,23:45:00,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [129]:
df11 = pd.read_excel(xls, 'November\'21', usecols = [i for i in range(31)])
df11.drop(df11.tail(106).index,
        inplace = True)
t11=df11.sum()
t11=t11.reset_index()
new_header = t11.iloc[0] #grab the first row for the header
t11 = t11[1:] #take the data less the header row
new_header['index'] = 'Time'
new_header[0]='Energy'
t11.columns = new_header #set the header row as the df header
t11.set_index('Time',inplace=True)
t11

0               Energy
Time
2021-11-01  46837.3333
2021-11-02  14592.3333
2021-11-03   41167.333
2021-11-04  11364.0001
2021-11-05     31816.0
2021-11-06  36801.6667
2021-11-07  31532.6663
2021-11-08   7917.0001
2021-11-09   17500.666
2021-11-10  38454.0002
2021-11-11  36970.0002
2021-11-12   4981.6634
2021-11-13  18916.3328
2021-11-14   8115.9999
2021-11-15   4136.3265
2021-11-16  12214.9992
2021-11-17  14746.9999
2021-11-18    9397.332
2021-11-19   3392.6668
2021-11-20  16118.0001
2021-11-21   7210.3334
2021-11-22   7508.6668
2021-11-23   7962.6661
2021-11-24   7635.6667
2021-11-25    27131.33
2021-11-26   3764.3331
2021-11-27   6709.9999
2021-11-28  17023.6662
2021-11-29    559.0002
2021-11-30   9164.3319

In [128]:
df12 = pd.read_excel(xls, 'December\'21',usecols = [i for i in range(32)])
df12.drop(df12.tail(109).index,
        inplace = True)
t12=df12.sum()
t12=t12.reset_index()
new_header = t12.iloc[0] #grab the first row for the header
t12 = t12[1:] #take the data less the header row
new_header['index'] = 'Time'
new_header[0]='Energy'
t12.columns = new_header #set the header row as the df header
t12.set_index('Time',inplace=True)
t12

0               Energy
Time
2021-12-01  10441.0002
2021-12-02  16305.9999
2021-12-03  18597.9966
2021-12-04  13920.6671
2021-12-05   4296.3328
2021-12-06    588.3335
2021-12-07      243.99
2021-12-08    971.6667
2021-12-09      749.33
2021-12-10      2670.0
2021-12-11   4376.9999
2021-12-12   2147.9999
2021-12-13   3823.3333
2021-12-14   4089.3298
2021-12-15   4523.3331
2021-12-16   1596.9999
2021-12-17   2501.6665
2021-12-18   3549.3334
2021-12-19   1579.3268
2021-12-20   4361.6666
2021-12-21           0
2021-12-22           0
2021-12-23   6153.6602
2021-12-24           0
2021-12-25   8730.3303
2021-12-26   7322.9933
2021-12-27   8027.3334
2021-12-28   3981.6667
2021-12-29   2620.6665
2021-12-30   5939.0001
2021-12-31   3445.9997

In [137]:
tall=t1.append(t2)
tall

0               Energy
Time
2021-01-01   1857.6667
2021-01-02   2297.0001
2021-01-03   7480.0001
2021-01-04   3504.3333
2021-01-05   1808.3332
2021-01-06      8071.0
2021-01-07     3072.66
2021-01-08  14070.9934
2021-01-09   2158.3301
2021-01-10   4916.6635
2021-01-11  14469.3302
2021-01-12  19712.6666
2021-01-13      164.66
2021-01-14    178.6667
2021-01-15         0.0
2021-01-16         0.0
2021-01-17         0.0
2021-01-18         0.0
2021-01-19         0.0
2021-01-20    263.6667
2021-01-21  16013.6603
2021-01-22  23014.3332
2021-01-23   8479.6667
2021-01-24   2404.3232
2021-01-25         0.0
2021-01-26         0.0
2021-01-27         0.0
2021-01-28      1277.0
2021-01-29    526.3268
2021-01-30     16.3333
2021-01-31         0.0
2021-02-01           0
2021-02-02    119.6666
2021-02-03  11503.3333
2021-02-04   3263.3333
2021-02-05  43324.6666
2021-02-06  40363.0003
2021-02-07  12929.9999
2021-02-08   3229.9999
2021-02-09           0
2021-02-10           0
2021-02-11           0
2021-02-12    203.3333
2021-02-13       255.0
2021-02-14           0
2021-02-15           0
2021-02-16   1544.0002
2021-02-17    271.9999
2021-02-18   1876.6667
2021-02-19   3545.6667
2021-02-20  31667.3337
2021-02-21  57562.3334
2021-02-22  57850.5003
2021-02-23   50385.667
2021-02-24  53475.6665
2021-02-25  56906.9998
2021-02-26  46122.9999
2021-02-27  36048.3331
2021-02-28  20632.3335

In [138]:
tall=tall.append(t3)
tall

0               Energy
Time
2021-01-01   1857.6667
2021-01-02   2297.0001
2021-01-03   7480.0001
2021-01-04   3504.3333
2021-01-05   1808.3332
...                ...
2021-03-27  82191.6666
2021-03-28  69740.0003
2021-03-29  41021.6668
2021-03-30  32351.6665
2021-03-31  92441.9998

[90 rows x 1 columns]

In [139]:
tall=tall.append(t4)
tall=tall.append(t5)
tall=tall.append(t6)
tall=tall.append(t7)
tall=tall.append(t8)
tall=tall.append(t9)
tall=tall.append(t10)
tall=tall.append(t11)
tall=tall.append(t12)

In [140]:
tall

0              Energy
Time
2021-01-01  1857.6667
2021-01-02  2297.0001
2021-01-03  7480.0001
2021-01-04  3504.3333
2021-01-05  1808.3332
...               ...
2021-12-27  8027.3334
2021-12-28  3981.6667
2021-12-29  2620.6665
2021-12-30  5939.0001
2021-12-31  3445.9997

[365 rows x 1 columns]

In [142]:
tall.to_csv('PVsolar6kw.csv')